:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;

  --header-height: 1.8rem; /* Also used to position menu */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#wrapper {
  color: var(--color);
  background-color: var(--background-color);

  & pre {
    overflow: clip;
    line-height: 1em;
  }
}
#wrapper.smaller-text {
  font-size: smaller;
}
#wrapper.larger-text {
  font-size: larger;
}
#wrapper.light-scheme {
  --footer-border-color: #00000050;

  --color: #0f0f0f;
  --background-color: #f6f6f6;

  --input-color: #0f0f0f;
  --input-background-color: #ffffff;
  --input-box-shadow-color: #00000050;
  --button-hover-border-color: #4561ff;
  --button-hover-background-color: #0000ff20;
  --button-border-color: #0000007f;

  --button-disabled-color: #999;
  --button-disabled-border-color: transparent;
  --button-disabled-active-background-color: #ffffff22;

  --button-active-border-color: #396cd8;
  --button-active-background-color: #0f0f0f69;

  --error-color: #ffffff;
  --error-background-color: #ff0000;
  --error-border-color: #440000;

  --info-color: #0f0f00;
  --info-background-color: #ffff00;
  --info-border-color: #2f2f00;

  --quote-border-color: #888;
  --quote-background-color: #e0e0e0;

  --pre-background-color: #ddd;

  --link-color: #0000ff;
  --foreign-link-color: #5072f8;

  --svg-buton-stroke: #808080;
  --svg-button-disabled-stroke: #ccc;

  --dialog-color: #0f0f0f;
  --dialog-background-color: #f6f6f6;
  --dialog-border-color: #00000050;

  --outline-color: #000;
  --loading-color: #f03800;
}
#wrapper.dark-scheme {
  --footer-border-color: #ffffff50;

  --color: #f6f6f6;
  --background-color: #2f2f2f;

  --input-color: #ffffff;
  --input-background-color: #ffffff22;
  --input-box-shadow-color: #00000050;
  --button-hover-border-color: #4561ff;
  --button-hover-background-color: #0000ff20;
  --button-border-color: #0000007f;

  --button-disabled-color: #999;
  --button-disabled-border-color: transparent;
  --button-disabled-active-background-color: #ffffff22;

  --button-active-border-color: #396cd8;
  --button-active-background-color: #0f0f0f69;

  --error-color: #ff0000;
  --error-background-color: #0e0e0e;
  --error-border-color: #ff0000;

  --info-color: #ffff00;
  --info-background-color: #0e0e0e;
  --info-border-color: #ffff00;

  --quote-border-color: #ffffff88;
  --quote-background-color: #0f0f0f77;

  --pre-background-color: #ffffff22;

  --link-color: #b9b8ea;
  --foreign-link-color: #d3dfff;

  --svg-buton-stroke: #fff;
  --svg-button-disabled-stroke: #999;

  --dialog-color: #f6f6f6;
  --dialog-background-color: #0f0f0f;
  --dialog-border-color: #ffffff50;

  --outline-color: #fff;
  --loading-color: #f0f000;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  background-color: #ccc;
}
header {
  background-color: var(--background-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  column-gap: 0.15em;
  height: var(--header-height);
  padding: 0.125rem;
  z-index: 10;
}
footer {
  font-size: 0.95em;
  background-color: var(--background-color);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 0.25em;
  height: 1.2em;
  overflow: hidden;
  border-top: solid 1px var(--footer-border-color);
}
h1, h2, h3 {
  line-height: 1.2em;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

input,
button {
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--button-border-color);
  color: var(--input-color);
  background-color: var(--input-background-color);
  padding: 0.25em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px var(--input-box-shadow-color);
}
button {
  cursor: pointer;
}
button:hover {
  background-color: var(--button-hover-background-color);
  border-color: var(--button-hover-border-color);
}
button:active {
  border-color: var(--button-active-border-color);
  background-color: var(--button-active-background-color);
}
button:disabled {
  cursor: not-allowed;
  color: var(--button-disabled-color);
  border-color: var(--button-disabled-border-color);
  background-color: var(--button-disabled-active-background-color);
}
*:focus {
  outline: var(--outline-color) solid 1px;
}
img {
  scale: .9;
}
svg.symbol-set {
  width: 0;
  height: 0;
}
.container {
  margin: 0;
  padding: calc(var(--header-height) * 1.5) 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.container div.text {
  white-space: pre-wrap;
}
.container div.text:before {
  content: '\200b';
}
#gemini-url-input {
  flex: auto;
}
#info, #gemini_error {
  font-size: larger;
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  border: thin solid transparent;
}
#info {
  background-color: var(--info-background-color);
  color: var(--info-color);
  border-color: var(--info-border-color);
}
#gemini_error {
  background-color: var(--error-background-color);
  color: var(--error-color);
  border-color: var(--error-border-color);
}
.plain {
  font-family: monospace;
  margin-top: 0.5em;
}
.plain div:before {
  content: '\200b';
}
.quote {
  padding: 0.5em;
  margin: 0.75em 0;
  border-left: solid 0.125em var(--quote-border-color);
  background-color: var(--quote-background-color);
}
pre {
  font-family: monospace;
  font-size: smaller;
  padding: 0.5em;
  margin: 0.75em 0;
  background-color: var(--pre-background-color);
  overflow: scroll;
}
pre div {
  line-height: 1.5;
}
.list-item {
  margin-left: 1em;
  padding-bottom: 0.5em;
}
.list-item:before {
  margin-left: -1em;
  font-family: monospace;
  content: "\2022";
}
.link {
  color: var(--link-color);
}
.foreign-link {
  color: var(--foreign-link-color);
}
.foreign-link:after {
  content: " ]"
}
.foreign-link:before {
  content: "[ ";
}
.nav-button {
  padding-top: 0.3em;
}
.nav-button svg {
  stroke-width: 2;
  fill: transparent;
  stroke: var(--input-color);
  width: 16px;
  height: 16px;
}
.nav-button:disabled svg {
  stroke: var(--button-disabled-color);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
dialog {
  position: relative;
  color: var(--dialog-color);
  background-color: var(--dialog-background-color);
  max-width: 30rem;
  padding: 1rem;
  border: solid 1px var(--dialog-border-color);
  border-radius: 0.25rem;

  & .x-panel {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  & button.close-button {
    border: none;
    background-color: transparent;

    &.close-button svg {
      stroke-width: 2;
      fill: transparent;
      stroke: var(--input-color);
      width: 16px;
      height: 16px;
    }
  }
}
dialog .button-container {
  column-gap: 0.15em;
  display: flex;
  flex-direction: row;
}
dialog .button-container button {
  flex: 1;
  margin-top: 1.5em;
}
dialog.with-close-panel {
  padding-top: 2em;
}
div .loading {
  text-align: center;
  padding: 0.5em;
  color: var(--loading-color);
  font-size: larger;
  font-weight: bold;
  display: block;
}
