#wrapper.light-scheme {
    --drag-target-background-color: #fff;
    --drop-target-background-color: #ccc;
}

#wrapper.dark-scheme {
    --drag-target-background-color: #000;
    --drop-target-background-color: #444;
}

#bookmark-panel {
    margin: 0.5rem;

    & button {
        margin-bottom: 0.25em;
    }
    & .info {
        text-align: center;
        color: var(--info-color);
    }

    & .bookmark-target-wrapper {
        background-color: var(--drag-target-background-color);
        margin: 0.25em;
        display: flex;

        & .link {
            padding-top: 0.3em;
        }

        & button {
            outline: none;
            border: none;
            color: var(--input-color);
            background-color: transparent;
            box-shadow: none;
        }

        & svg {
            stroke-width: 2;
            fill: none;
            stroke: var(--input-color);
            width: 16px;
            height: 16px;
        }

        & svg.drag-handle {
            fill: var(--input-color);
            stroke: none;
            cursor: grab;
        }
    }

    & .drop-target-over {
        background-color: var(--drop-target-background-color);
        padding: 0.5em;
    }

    & .bookmark-drop-target {
        margin: 0 0.25em;
        min-height: 0.25em;
    }

    & .link-panel {
        margin: 0.25em;
    }

    & .menu-item-overlay {
        cursor: grabbing;
        padding: 0.5rem 1rem;
        inline-size: min-content;
        background-color: var(--drag-target-background-color);
        border-left: solid 1px var(--input-color);
    }
}
