#menu {
    --menu-background-color: #ddd;
    --menu-text-color: #222;
    --menu-hover-background-color: #444;
    --menu-hover-text-color: #eee;

    cursor: pointer;
    position: absolute;
    top: var(--header-height);
    z-index: 1;
    display: flex;
    flex-direction: column;

    & a {
        padding: 0.25em 0.5em;
        background-color: var(--menu-background-color);
        color: var(--menu-text-color)
    }
    & a:hover, a:focus {
        outline: 0;
        background-color: var(--menu-hover-background-color);
        color: var(--menu-hover-text-color)
    }
}
