#settings-dialog {
    width: 25em;
    & fieldset {
        width: 8em;
        margin: 0.5em;

        & input:is([type="radio"], [type="checkbox"]) {
            margin-right: 0.325em;
        }
         & a {
             font-size: small;
             color: var(--link-color);
         }
        & a:last-child {
            float: right;
        }
    }
}
